<ul class="nav nav-tabs">
	<li class="active">
		<a data-target="#tab_1_1" data-toggle="tab"> Source Files </a>
	</li>
	<li>
		<a data-target="#tab_1_2" data-toggle="tab"> Process Types </a>
	</li>
	<li>
		<a data-target="#tab_1_3" data-toggle="tab"> Execute Analysis </a>
	</li>
</ul>
<div class="tab-content">
	<div class="tab-pane fade active in" id="tab_1_1">
		<div class="row">
			<form action="#" class="form-horizontal form-bordered">
				<div class="form-body">
					<div class="form-group">
						<label class="control-label col-md-3">NEWPOSS Log</label>
						<div class="col-md-3">
							<div class="fileinput fileinput-new" data-provides="fileinput">
								<div class="input-group input-large">
									<div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
										<i class="fa fa-file fileinput-exists"></i>&nbsp;
										<span class="fileinput-filename"> </span>
									</div>
									<span class="input-group-addon btn default btn-file">
										<span class="fileinput-new"> Select file </span>
										<span class="fileinput-exists"> Change </span>
										<input type="file" name="..."> </span>
									<a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="tab-pane fade" id="tab_1_2">
		<p> Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft
			beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica
			VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
			stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park. </p>
	</div>
	<div class="tab-pane fade" id="tab_1_3">
		<p> Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard
			locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie
			etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr. </p>
	</div>
</div>